<html>
  <head>
    <title>campy</title>
  </head>
  <body>
  </body>
</html>


{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Live view{% endblock %}</h1>
{% endblock %}

{% block content %}
<img src="{{ url_for('api.get_stream', camera=camera) }}">
<button onclick="move('left')">left</button>
<button onclick="move('right')">right</button>
<button onclick="move('up')">up</button>
<button onclick="move('down')">down</button>

<script>
  function move(position, tripod) {
    var xmlHttp = new XMLHttpRequest();
    xmlHttp.open( "GET", '/tripod/' + position, false ); // false for synchronous request
    xmlHttp.send( null );
    console.log(xmlHttp.responseText);
  }
</script>
{% endblock %}



