{% extends 'base.html' %}

{% block header %}
    <div class="container">
        <h1>{% block title %}Live view{% endblock %}</h1>
     </div>
{% endblock %}

{% block content %}

        <div class="container">
            <img src="{{ url_for('api.get_stream', camera=camera) }}">
            <div class="row">
                <div class="col-sm-3">
                  <div id="up_button"></div>
                </div>
                <div class="col-sm-3">
                  <div id="down_button"></div>
                </div>
                <div class="col-sm-3">
                  <div id="left_button"></div>
                </div>
                <div class="col-sm-3">
                  <div id="right_button"></div>
                </div>
            </div>
        </div>


        <script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin></script>
        <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin></script>
        <script src="{{ url_for('static', filename="js/like_button.js")}}"></script>
{% endblock %}



